In [2]:
%run "Retropy_framework.py"

iPy: False

In [2]:
from pyfinance import *
>>> s = np.random.randn(400) / 100 + 0.0008
>>> idx = pd.date_range(start='2016', periods=len(s))  # default daily freq.
>>> ts = TSeries(s, index=idx)
ts

2016-01-01    0.0023
2016-01-02   -0.0243
2016-01-03   -0.0174
2016-01-04    0.0087
2016-01-05   -0.0042
               ...
2017-01-30   -0.0135
2017-01-31    0.0013
2017-02-01   -0.0155
2017-02-02   -0.0215
2017-02-03    0.0009
Freq: D, Length: 400, dtype: float64

In [3]:
>>> from pandas_datareader import DataReader

>>> syms = {
...     'TWEXBMTH': 'usd',
...     'T10Y2YM': 'term_spread',
...     'PCOPPUSDM': 'copper'
...     }

>>> data = DataReader(syms.keys(), data_source='fred',
...                   start='2000-01-01', end='2016-12-31')\
...     .pct_change()\
...     .dropna()\
...     .rename(columns=syms)

>>> y = data.pop('usd')

>>> data.head()

>>> y.head()

            term_spread  copper
DATE
2000-02-01      -1.4091 -0.0200
2000-03-01       2.0000 -0.0372
2000-04-01       0.5185 -0.0333
2000-05-01      -0.0976  0.0614
2000-06-01       0.0270 -0.0185

DATE
2000-02-01    0.0126
2000-03-01   -0.0001
2000-04-01    0.0056
2000-05-01    0.0220
2000-06-01   -0.0101
Freq: MS, Name: usd, dtype: float64

In [10]:
>>> from pyfinance import ols

>>> model = ols.OLS(y=y, x=data)

>>> model.alpha  # the intercept - a scalar

>>> model.beta  # the coefficients

>>> model.fstat

# Residuals and predicted y values are NumPy arrays
# with the same shape as `y`.
>>> model.resids.shape

>>> model.predicted.shape

Fetching OLS from AV .. Failed to fetch OLS from AV, trying from Y .. Fetching OLS from Y .. Failed to fetch implied symbol: OLS

0.001230320443416746

array([-0.00062647, -0.09490566])

33.42923069295481

(203,)

(203,)

In [4]:
from pyfinance.general import *

In [9]:
all = [lc, gb, cb, cjb, sc]
all = get(all)
df = pd.DataFrame({x.name: logret(x) for x in all}).dropna()

In [10]:
pca = PCA(df)

In [12]:
pca.fit()